In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/snehuuu28/Data_Science/main/Regularization/cars.csv")

In [3]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

# EDA

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.2+ KB

In [6]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [7]:
df['normalized-losses'].value_counts()

normalized-losses
?      41
161    11
91      8
150     7
134     6
128     6
104     6
85      5
94      5
65      5
102     5
74      5
168     5
103     5
95      5
106     4
93      4
118     4
148     4
122     4
83      3
125     3
154     3
115     3
137     3
101     3
119     2
87      2
89      2
192     2
197     2
158     2
81      2
188     2
194     2
153     2
129     2
108     2
110     2
164     2
145     2
113     2
256     1
107     1
90      1
231     1
142     1
121     1
78      1
98      1
186     1
77      1
Name: count, dtype: int64

In [8]:
df[df['horsepower']=='?']

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
130,0,?,renault,gas,wagon,fwd,front,66.5,55.2,ohc,132,?,23,31,9295
131,2,?,renault,gas,hatchback,fwd,front,66.6,50.5,ohc,132,?,23,31,9895

In [9]:
df.replace('?', np.nan, inplace=True)

In [10]:
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
body-style            0
drive-wheels          0
engine-location       0
width                 0
height                0
engine-type           0
engine-size           0
horsepower            2
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [11]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,NaN,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,NaN,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [12]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
body-style            object
drive-wheels          object
engine-location       object
width                float64
height               float64
engine-type           object
engine-size            int64
horsepower            object
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [13]:
si = SimpleImputer(strategy = 'median')

In [14]:
df.iloc[:,[1,11]]

    normalized-losses horsepower
0                 NaN        111
1                 NaN        111
2                 NaN        154
3                 164        102
4                 164        115
..                ...        ...
200                95        114
201                95        160
202                95        134
203                95        106
204                95        114

[205 rows x 2 columns]

In [15]:
df[['normalized-losses','horsepower']]

    normalized-losses horsepower
0                 NaN        111
1                 NaN        111
2                 NaN        154
3                 164        102
4                 164        115
..                ...        ...
200                95        114
201                95        160
202                95        134
203                95        106
204                95        114

[205 rows x 2 columns]

In [16]:
df.loc[:,['normalized-losses','horsepower']]

    normalized-losses horsepower
0                 NaN        111
1                 NaN        111
2                 NaN        154
3                 164        102
4                 164        115
..                ...        ...
200                95        114
201                95        160
202                95        134
203                95        106
204                95        114

[205 rows x 2 columns]

In [17]:
df.iloc[:,[1,11]]  = si.fit_transform(df.iloc[:,[1,11]])

In [18]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [19]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,115.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,13495
1,3,115.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,16500
2,1,115.0,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154.0,19,26,16500
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102.0,24,30,13950
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115.0,18,22,17450

In [20]:
# Linear Regression Cannot handle categorical column that's why use Encoding method for Categorical column

In [21]:
df.select_dtypes([object])

,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,engine-type,horsepower
0,115.0,alfa-romero,gas,convertible,rwd,front,dohc,111.0
1,115.0,alfa-romero,gas,convertible,rwd,front,dohc,111.0
2,115.0,alfa-romero,gas,hatchback,rwd,front,ohcv,154.0
3,164.0,audi,gas,sedan,fwd,front,ohc,102.0
4,164.0,audi,gas,sedan,4wd,front,ohc,115.0
...,...,...,...,...,...,...,...,...
200,95.0,volvo,gas,sedan,rwd,front,ohc,114.0
201,95.0,volvo,gas,sedan,rwd,front,ohc,160.0
202,95.0,volvo,gas,sedan,rwd,front,ohcv,134.0
203,95.0,volvo,diesel,sedan,rwd,front,ohc,106.0
204,95.0,volvo,gas,sedan,rwd,front,ohc,114.0

In [22]:
df.select_dtypes([int,float])

     symboling  width  height  engine-size  city-mpg  highway-mpg  price
0            3   64.1    48.8          130        21           27  13495
1            3   64.1    48.8          130        21           27  16500
2            1   65.5    52.4          152        19           26  16500
3            2   66.2    54.3          109        24           30  13950
4            2   66.4    54.3          136        18           22  17450
..         ...    ...     ...          ...       ...          ...    ...
200         -1   68.9    55.5          141        23           28  16845
201         -1   68.8    55.5          141        19           25  19045
202         -1   68.9    55.5          173        18           23  21485
203         -1   68.9    55.5          145        26           27  22470
204         -1   68.9    55.5          141        19           25  22625

[205 rows x 7 columns]

# Encoding

In [24]:
#select only Categorical columns

In [25]:
cat_cols = df.select_dtypes(object).columns
cat_cols

Index(['normalized-losses', 'make', 'fuel-type', 'body-style', 'drive-wheels',
       'engine-location', 'engine-type', 'horsepower'],
      dtype='object')

In [26]:
df[cat_cols]

,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,engine-type,horsepower
0,115.0,alfa-romero,gas,convertible,rwd,front,dohc,111.0
1,115.0,alfa-romero,gas,convertible,rwd,front,dohc,111.0
2,115.0,alfa-romero,gas,hatchback,rwd,front,ohcv,154.0
3,164.0,audi,gas,sedan,fwd,front,ohc,102.0
4,164.0,audi,gas,sedan,4wd,front,ohc,115.0
...,...,...,...,...,...,...,...,...
200,95.0,volvo,gas,sedan,rwd,front,ohc,114.0
201,95.0,volvo,gas,sedan,rwd,front,ohc,160.0
202,95.0,volvo,gas,sedan,rwd,front,ohcv,134.0
203,95.0,volvo,diesel,sedan,rwd,front,ohc,106.0
204,95.0,volvo,gas,sedan,rwd,front,ohc,114.0

In [27]:
oe = OrdinalEncoder()
df[cat_cols] = oe.fit_transform(df[cat_cols])

In [28]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,24.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,30.0,21,27,13495
1,3,24.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,30.0,21,27,16500
2,1,24.0,0.0,1.0,2.0,2.0,0.0,65.5,52.4,5.0,152,45.0,19,26,16500
3,2,42.0,1.0,1.0,3.0,1.0,0.0,66.2,54.3,3.0,109,27.0,24,30,13950
4,2,42.0,1.0,1.0,3.0,0.0,0.0,66.4,54.3,3.0,136,33.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,13.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,3.0,141,32.0,23,28,16845
201,-1,13.0,21.0,1.0,3.0,2.0,0.0,68.8,55.5,3.0,141,48.0,19,25,19045
202,-1,13.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,5.0,173,38.0,18,23,21485
203,-1,13.0,21.0,0.0,3.0,2.0,0.0,68.9,55.5,3.0,145,28.0,26,27,22470
204,-1,13.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,3.0,141,32.0,19,25,22625

In [29]:
df.dtypes

symboling              int64
normalized-losses    float64
make                 float64
fuel-type            float64
body-style           float64
drive-wheels         float64
engine-location      float64
width                float64
height               float64
engine-type          float64
engine-size            int64
horsepower           float64
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

# Model Building

In [31]:
x = df.iloc[:,:-1]
y = df['price']

In [32]:
xtrain,xtest,ytrain, ytest = train_test_split(x,y, test_size=0.3, random_state=1)

In [33]:
lr = LinearRegression()
lr.fit(xtrain,ytrain)
ypred=lr.predict(xtest)

In [34]:
lr.intercept_

-67077.14022645196

In [35]:
lr.coef_

array([ 1.12546196e+02, -8.15787032e+00, -2.16748653e+02, -9.27078216e+02,
       -1.75966492e+02,  1.78141285e+03,  1.51530341e+04,  7.30020455e+02,
        4.26090069e+02,  3.77507844e+02,  8.76559822e+01,  5.06607528e+01,
        4.09423838e+02, -4.28281069e+02])

In [36]:
lr.score(xtrain,ytrain), lr.score(xtest,ytest)

(0.8513570943341141, 0.8058389218113038)

# Lasso

In [38]:
l1 = Lasso()
l1.fit(xtrain,ytrain)
l1.score(xtrain,ytrain), l1.score(xtest,ytest)

(0.8513557681485533, 0.8059915908051957)

In [39]:
l1.coef_

array([ 1.12276505e+02, -8.15042656e+00, -2.16548046e+02, -9.17836631e+02,
       -1.76834795e+02,  1.77779129e+03,  1.50862651e+04,  7.28240786e+02,
        4.26482604e+02,  3.77483028e+02,  8.77737412e+01,  5.08969372e+01,
        4.08125298e+02, -4.26704686e+02])

# Hyperparameter Tuning

In [41]:
for i in range(100,200):
    l1 = Lasso(alpha=i)
    l1.fit(xtrain,ytrain)
    print(f"Alpha:{i} Train: {l1.score(xtrain,ytrain)} Test:{l1.score(xtest, ytest)}")

Alpha:100 Train: 0.83810658151796 Test:0.8155482040961651
Alpha:101 Train: 0.8378536264285208 Test:0.8156028606345714
Alpha:102 Train: 0.8375991318080479 Test:0.8156574468510339
Alpha:103 Train: 0.8373419547250509 Test:0.8157114340310527
Alpha:104 Train: 0.8370824100913479 Test:0.8157642891994025
Alpha:105 Train: 0.8368201949832169 Test:0.8158165171277507
Alpha:106 Train: 0.8365556261450315 Test:0.8158675955702398
Alpha:107 Train: 0.8362885471777033 Test:0.8159177836717548
Alpha:108 Train: 0.8360189588082779 Test:0.8159670801180754
Alpha:109 Train: 0.8357466955371282 Test:0.8160157431975914
Alpha:110 Train: 0.8354720895227602 Test:0.8160632511732067
Alpha:111 Train: 0.8351949750787397 Test:0.8161098657617741
Alpha:112 Train: 0.8349153524637163 Test:0.8161555865155861
Alpha:113 Train: 0.8346330454330495 Test:0.8162006760170104
Alpha:114 Train: 0.8343484062901869 Test:0.8162446062567359
Alpha:115 Train: 0.834061259152576 Test:0.8162876423278641
Alpha:116 Train: 0.833771417012377 Test:0.8163300534585407
Alpha:117 Train: 0.8334792541045457 Test:0.8163712977755478
Alpha:118 Train: 0.833184583403235 Test:0.8164116476096612
Alpha:119 Train: 0.8328874049448509 Test:0.8164511028905599
Alpha:120 Train: 0.8325875196747703 Test:0.8164899376495551
Alpha:121 Train: 0.8322853253472885 Test:0.8165276012572936
Alpha:122 Train: 0.8319806232766853 Test:0.8165643702811821
Alpha:123 Train: 0.8316734135264361 Test:0.8166002446206688
Alpha:124 Train: 0.8313634843211561 Test:0.8166355033273525
Alpha:125 Train: 0.8310512586955383 Test:0.816669585944377
Alpha:126 Train: 0.830736525239222 Test:0.816702774067658
Alpha:127 Train: 0.8304192838420958 Test:0.8167350678191503
Alpha:128 Train: 0.8300993099288971 Test:0.8167667506813305
Alpha:129 Train: 0.8297770535877971 Test:0.8167972514764679
Alpha:130 Train: 0.8294522898769865 Test:0.8168268571987274
Alpha:131 Train: 0.8291250187964649 Test:0.8168555678481091
Alpha:132 Train: 0.8287950013064682 Test:0.816883672764122
Alpha:133 Train: 0.8284627154323111 Test:0.8169105903549083
Alpha:134 Train: 0.8281279222146827 Test:0.8169366128846735
Alpha:135 Train: 0.827790621653583 Test:0.8169617403534176
Alpha:136 Train: 0.8274505602939526 Test:0.8169862671493942
Alpha:137 Train: 0.8271082448997421 Test:0.8170096016895226
Alpha:138 Train: 0.8267634221869554 Test:0.817032041179878
Alpha:139 Train: 0.8264160921555933 Test:0.817053585620461
Alpha:140 Train: 0.8260659866529025 Test:0.8170745341015043
Alpha:141 Train: 0.8257136421473141 Test:0.8170942852925578
Alpha:142 Train: 0.8253587903524323 Test:0.8171131414470685
Alpha:143 Train: 0.8250011477145491 Test:0.8171314094901272
Alpha:144 Train: 0.8246412816072278 Test:0.8171484722762062
Alpha:145 Train: 0.8242789082416375 Test:0.8171646400397581
Alpha:146 Train: 0.8239140276177777 Test:0.8171799127807821
Alpha:147 Train: 0.8235463405757721 Test:0.8171946018182427
Alpha:148 Train: 0.8231764458493462 Test:0.8172080810822203
Alpha:149 Train: 0.8228040438975213 Test:0.8172206653385183
Alpha:150 Train: 0.8224288191171255 Test:0.8172326735757426
Alpha:151 Train: 0.8220514032581476 Test:0.8172434642277304
Alpha:152 Train: 0.8216714802085955 Test:0.8172533598877672
Alpha:153 Train: 0.8212890499684694 Test:0.817262360555853
Alpha:154 Train: 0.8209037806147775 Test:0.8172707890971278
Alpha:155 Train: 0.8205163367177117 Test:0.8172779960455514
Alpha:156 Train: 0.8201263856669683 Test:0.8172843080186869
Alpha:157 Train: 0.8197335781385966 Test:0.8172900552766926
Alpha:158 Train: 0.8193386136657669 Test:0.8172945733942742
Alpha:159 Train: 0.8189411420783497 Test:0.8172981965542188
Alpha:160 Train: 0.8185407961309166 Test:0.8173012623159142
Alpha:161 Train: 0.8181383113772861 Test:0.8173030914794931
Alpha:162 Train: 0.8177333195504828 Test:0.8173040257041345
Alpha:163 Train: 0.8173254349852501 Test:0.8173044097251445
Alpha:164 Train: 0.8169154302707962 Test:0.8173035498075845
Alpha:165 Train: 0.8165029185270463 Test:0.8173017949708951
Alpha:166 Train: 0.8160874951985677 Test:0.8172994969731434
Alpha:167 Train: 0.8156699708702134 Test:0.8172959478432924
Alpha:168 Train: 0.8152499395590472 Test:0.8172915038152937
Alpha:169 Train: 0.8148269773836463 Test:0.8172865234844986
Alpha:170 Train: 0.8144019338173333 Test:0.81728028500716
Alpha:171 Train: 0.8139743833174551 Test:0.8172731516539
Alpha:172 Train: 0.8135438822826063 Test:0.8172654886369279
Alpha:173 Train: 0.8131113198855182 Test:0.8172565606728422
Alpha:174 Train: 0.8126757847426698 Test:0.8172471145251747
Alpha:175 Train: 0.8122382107817382 Test:0.8172363917584535
Alpha:176 Train: 0.8117981299946869 Test:0.8172247741642916
Alpha:177 Train: 0.8113550558601828 Test:0.8172126446950548
Alpha:178 Train: 0.8109099639277302 Test:0.8171992321244497
Alpha:179 Train: 0.8104623652277132 Test:0.8171849247528173
Alpha:180 Train: 0.810011752336942 Test:0.8171701114820447
Alpha:181 Train: 0.8095591429454176 Test:0.8171540089545556
Alpha:182 Train: 0.8091034952103306 Test:0.8171374119489816
Alpha:183 Train: 0.8086458755536641 Test:0.8171195140509276
Alpha:184 Train: 0.8081851926011066 Test:0.8171011332012292
Alpha:185 Train: 0.8077225631389817 Test:0.817081439708694
Alpha:186 Train: 0.8072574271066542 Test:0.8170608515041251
Alpha:187 Train: 0.8067892058643281 Test:0.8170397855555165
Alpha:188 Train: 0.8063190605957469 Test:0.8170174015562439
Alpha:189 Train: 0.8058458039788996 Test:0.8169945511769453
Alpha:190 Train: 0.8053706500123015 Test:0.8169703711415813
Alpha:191 Train: 0.8048923578289032 Test:0.8169457361132103
Alpha:192 Train: 0.804412195744003 Test:0.8169197597902413
Alpha:193 Train: 0.8039288678693707 Test:0.816893339855811
Alpha:194 Train: 0.8034436982903876 Test:0.816865566983244
Alpha:195 Train: 0.802956022463479 Test:0.8168368995438465
Alpha:196 Train: 0.802465158275999 Test:0.8168077921488909
Alpha:197 Train: 0.8019724757198283 Test:0.8167773279288725
Alpha:198 Train: 0.8014765764647855 Test:0.8167464346589064
Alpha:199 Train: 0.8009788879080358 Test:0.8167141733766939

In [42]:
l1 = Lasso(alpha=175)
l1.fit(xtrain,ytrain)
l1.score(xtrain, ytrain), l1.score(xtest,ytest)

(0.8122382107817382, 0.8172363917584535)

In [43]:
l1.coef_

array([  61.12633958,   -6.10831648, -183.28132469,   -0.        ,
       -336.11422228, 1064.33077389, 3274.63035983,  373.43118015,
        486.96449759,  381.29935372,  107.65669146,   96.20510161,
        156.01843557, -141.45741138])

In [44]:
xtrain.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'body-style',
       'drive-wheels', 'engine-location', 'width', 'height', 'engine-type',
       'engine-size', 'horsepower', 'city-mpg', 'highway-mpg'],
      dtype='object')

# Ridge

In [46]:
l2 = Ridge()
l2.fit(xtrain,ytrain)
l2.score(xtrain,ytrain), l2.score(xtest,ytest)

(0.8456303030401329, 0.8129412653117354)

In [47]:
for i in range(1,100):
    l2 = Ridge(alpha=i)
    l2.fit(xtrain,ytrain)
    print(f"Alpha:{i} Train: {l2.score(xtrain,ytrain)} Test:{l2.score(xtest, ytest)}")

Alpha:1 Train: 0.8456303030401329 Test:0.8129412653117354
Alpha:2 Train: 0.8386586701473898 Test:0.815094197180025
Alpha:3 Train: 0.8331787754759143 Test:0.8159840565359215
Alpha:4 Train: 0.8289514294906637 Test:0.8164074943595501
Alpha:5 Train: 0.8256180508343482 Test:0.816615553613196
Alpha:6 Train: 0.8229200327711996 Test:0.8167081125220702
Alpha:7 Train: 0.8206835478568135 Test:0.8167319499278244
Alpha:8 Train: 0.8187910786049766 Test:0.8167118068042512
Alpha:9 Train: 0.8171613957692399 Test:0.8166620492139386
Alpha:10 Train: 0.8157369315054892 Test:0.8165916480922772
Alpha:11 Train: 0.8144758945344523 Test:0.8165065334035881
Alpha:12 Train: 0.8133472709742818 Test:0.8164108037537479
Alpha:13 Train: 0.8123275834727067 Test:0.8163073927640296
Alpha:14 Train: 0.811398740298779 Test:0.8161984585221332
Alpha:15 Train: 0.8105465750879643 Test:0.8160856229891422
Alpha:16 Train: 0.8097598342698182 Test:0.8159701257011311
Alpha:17 Train: 0.8090294611185944 Test:0.8158529262057428
Alpha:18 Train: 0.8083480804274366 Test:0.8157347745669781
Alpha:19 Train: 0.8077096214915773 Test:0.8156162612575794
Alpha:20 Train: 0.8071090381347475 Test:0.8154978533197705
Alpha:21 Train: 0.8065420979376513 Test:0.8153799211198306
Alpha:22 Train: 0.8060052215569339 Test:0.8152627584989027
Alpha:23 Train: 0.8054953588035769 Test:0.815146598185534
Alpha:24 Train: 0.8050098920427871 Test:0.8150316237424464
Alpha:25 Train: 0.8045465601411051 Test:0.8149179789348103
Alpha:26 Train: 0.8041033980358885 Test:0.8148057751510449
Alpha:27 Train: 0.8036786883040796 Test:0.8146950973329639
Alpha:28 Train: 0.8032709220351989 Test:0.8145860087513493
Alpha:29 Train: 0.8028787669830167 Test:0.8144785548777739
Alpha:30 Train: 0.8025010414587503 Test:0.8143727665423224
Alpha:31 Train: 0.8021366927886905 Test:0.8142686625223245
Alpha:32 Train: 0.8017847794271428 Test:0.8141662516742786
Alpha:33 Train: 0.8014444560169253 Test:0.8140655346965596
Alpha:34 Train: 0.8011149608422374 Test:0.8139665055918839
Alpha:35 Train: 0.8007956052352887 Test:0.8138691528842793
Alpha:36 Train: 0.8004857645878213 Test:0.8137734606343312
Alpha:37 Train: 0.800184870688281 Test:0.8136794092879223
Alpha:38 Train: 0.7998924051597357 Test:0.8135869763869908
Alpha:39 Train: 0.7996078938163931 Test:0.8134961371655153
Alpha:40 Train: 0.7993309017903515 Test:0.8134068650497119
Alpha:41 Train: 0.7990610293071359 Test:0.8133191320780655
Alpha:42 Train: 0.798797908010076 Test:0.8132329092540636
Alpha:43 Train: 0.7985411977509252 Test:0.813148166842327
Alpha:44 Train: 0.7982905837780967 Test:0.8130648746170019
Alpha:45 Train: 0.7980457742653053 Test:0.8129830020698352
Alpha:46 Train: 0.7978064981326787 Test:0.8129025185841244
Alpha:47 Train: 0.7975725031200349 Test:0.8128233935797645
Alpha:48 Train: 0.7973435540783034 Test:0.8127455966337563
Alpha:49 Train: 0.7971194314502636 Test:0.8126690975798889
Alpha:50 Train: 0.7968999299160918 Test:0.8125938665907156
Alpha:51 Train: 0.7966848571828048 Test:0.8125198742444739
Alpha:52 Train: 0.7964740328997013 Test:0.8124470915792024
Alpha:53 Train: 0.7962672876844339 Test:0.8123754901359624
Alpha:54 Train: 0.7960644622464752 Test:0.8123050419928024
Alpha:55 Train: 0.7958654065965397 Test:0.8122357197908454
Alpha:56 Train: 0.7956699793320618 Test:0.8121674967536983
Alpha:57 Train: 0.7954780469901229 Test:0.8121003467011869
Alpha:58 Train: 0.7952894834603357 Test:0.8120342440582955
Alpha:59 Train: 0.7951041694511438 Test:0.8119691638600524
Alpha:60 Train: 0.7949219920038069 Test:0.8119050817529974
Alpha:61 Train: 0.7947428440490502 Test:0.8118419739937845
Alpha:62 Train: 0.7945666240019567 Test:0.811779817445382
Alpha:63 Train: 0.7943932353912088 Test:0.8117185895712834
Alpha:64 Train: 0.7942225865192387 Test:0.811658268428064
Alpha:65 Train: 0.7940545901502404 Test:0.8115988326565926
Alpha:66 Train: 0.7938891632233457 Test:0.8115402614721412
Alpha:67 Train: 0.7937262265885583 Test:0.8114825346536192
Alpha:68 Train: 0.7935657047633162 Test:0.8114256325321189
Alpha:69 Train: 0.793407525707765 Test:0.8113695359789268
Alpha:70 Train: 0.7932516206170471 Test:0.8113142263931472
Alpha:71 Train: 0.7930979237290771 Test:0.8112596856890422
Alpha:72 Train: 0.7929463721464326 Test:0.8112058962832012
Alpha:73 Train: 0.7927969056711366 Test:0.8111528410816164
Alpha:74 Train: 0.7926494666512202 Test:0.8111005034667351
Alpha:75 Train: 0.7925039998380736 Test:0.811048867284554
Alpha:76 Train: 0.7923604522536806 Test:0.8109979168318033
Alpha:77 Train: 0.792218773066929 Test:0.810947636843262
Alpha:78 Train: 0.792078913478256 Test:0.8108980124792428
Alpha:79 Train: 0.7919408266119671 Test:0.8108490293132702
Alpha:80 Train: 0.7918044674156142 Test:0.8108006733199822
Alpha:81 Train: 0.791669792565894 Test:0.8107529308632669
Alpha:82 Train: 0.7915367603805562 Test:0.8107057886846537
Alpha:83 Train: 0.7914053307358678 Test:0.8106592338919708
Alpha:84 Train: 0.791275464989221 Test:0.8106132539482733
Alpha:85 Train: 0.7911471259064984 Test:0.810567836661049
Alpha:86 Train: 0.7910202775938515 Test:0.8105229701717122
Alpha:87 Train: 0.7908948854335736 Test:0.8104786429453756
Alpha:88 Train: 0.7907709160237719 Test:0.8104348437609119
Alpha:89 Train: 0.7906483371215767 Test:0.8103915617012946
Alpha:90 Train: 0.7905271175896365 Test:0.8103487861442248
Alpha:91 Train: 0.7904072273456743 Test:0.8103065067530336
Alpha:92 Train: 0.7902886373148985 Test:0.8102647134678603
Alpha:93 Train: 0.7901713193850743 Test:0.8102233964970992
Alpha:94 Train: 0.7900552463640804 Test:0.8101825463091151
Alpha:95 Train: 0.789940391939785 Test:0.8101421536242149
Alpha:96 Train: 0.7898267306420947 Test:0.8101022094068745
Alpha:97 Train: 0.7897142378070307 Test:0.8100627048582156
Alpha:98 Train: 0.7896028895427105 Test:0.8100236314087201
Alpha:99 Train: 0.7894926626971073 Test:0.8099849807111865

In [48]:
l2 = Ridge(alpha=7)
l2.fit(xtrain,ytrain)
l2.score(xtrain, ytrain), l2.score(xtest,ytest)

(0.8187910786049766, 0.8167118068042512)

In [49]:
l2.coef_

array([  267.0628182 ,   -16.69149234,  -200.16361723, -1001.86444444,
        -558.3133068 ,  1511.53153835,  2997.78783819,   388.82021976,
         570.79637791,   579.48789072,    99.56040875,   112.79885262,
         275.78463398,  -240.39486822])

# Elastic Net

In [51]:
en = ElasticNet(alpha=1)
en.fit(xtrain,ytrain)
en.score(xtrain,ytrain), en.score(xtest,ytest)

(0.7929948742162125, 0.8112292967447791)